<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FINSOFT.Properties.Settings.FINSOFTConnectionString"
            connectionString="Data Source=LAPTOP-S0IJJ60D;Initial Catalog=SLGFINSOFT;Persist Security Info=True;User ID=sa;Password=admin@123"
            providerName="System.Data.SqlClient" />
        <add name="FINNSOFT.Properties.Settings.FINNSOFTConnectionString"
            connectionString="Data Source=LAPTOP-S0IJJ60D;Initial Catalog=SLGFINSOFT;Persist Security Info=True;User ID=sa;Password=admin@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
